<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Area Personale
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  
  <form #formCtrl="ngForm">
      <div align="center">

          <ion-item class="profile-item"  (click)="showAnnounce('Immagine del Profilo','Non è ancora possibile aggiorare la foto profilo')">
            <div class="profile-picture big-profile-picture">
              <img src="https://image.flaticon.com/icons/png/512/23/23716.png">
            </div>
          </ion-item>
        <h1>Ciao {{utente.nome}} </h1>
        <ion-item *ngIf="utente.stato==false">
          <ion-badge color='primary'>
            <ion-icon color="danger" name="radio-button-on"></ion-icon>
                     Utente In pre-assunzione
        </ion-badge>
      </ion-item>
      <ion-item *ngIf="utente.stato==true">
        <ion-badge color='primary'>
          <ion-icon color='success' name="checkmark-circle"></ion-icon>
        Utente Assunto
      </ion-badge>
      </ion-item>
      </div>
      <h3 align-items-center> I tuoi dati personali</h3>
  <ion-list>
      <ion-item>
        <ion-label floating>Nome: {{utente.nome}}</ion-label>
        <ion-text></ion-text>
      </ion-item>
      <ion-item>
        <ion-label floating>Cognome: {{utente.cognome}}</ion-label>
        <ion-text></ion-text>
      </ion-item>
        <ion-item>
          <ion-label floating>Codice Fiscale: {{utente.codice_fiscale}}</ion-label>
          <ion-text></ion-text>
        </ion-item>
  </ion-list>
  <h3 color='primary'>Collegamenti Interni </h3>
  <ion-list>
  <ion-item color="danger" *ngIf="utente.stato==false">
      Non è possibile visualizzare i collegamenti alle funzionalità di InSella poiché sei ancora in una fase di pre-assunzione :(
  </ion-item>
  <ion-list align-items-center *ngIf="utente.stato==true">
  <ion-button (click)="showAnnounce('CaSella','Questa è una demo! I collegamenti non sono ancora disponibili :)')">CaSella</ion-button>
  <ion-button (click)="showAnnounce('Convenzioni Aziendali','Questa è una demo! I collegamenti non sono ancora disponibili :)')">Convenzioni Aziendali</ion-button>
  <ion-button color='success' (click)="showAnnounce('Yammer','Questa è una demo! I collegamenti non sono ancora disponibili :)')">Accedi a Yammer</ion-button>
  <ion-button (click)="showAnnounce('SellaNews','Questa è una demo! I collegamenti non sono ancora disponibili :)')">Sella News</ion-button>
  <ion-button (click)="showAnnounce('Guida Utilizzo Moduli HR','Questa è una demo! I collegamenti non sono ancora disponibili :)')">Guida Utilizzo Moduli HR</ion-button>
  <ion-button color="medium" (click)="showAnnounce('Impostazioni','Questa è una demo! I collegamenti non sono ancora disponibili :)')">Impostazioni InSella</ion-button>

</ion-list>
</ion-list>

</form>
</ion-content>