<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Area Personale
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-bg">

  <div class="bg-primary vertical-padding">
    
    <img *ngIf="utente.sesso=='maschio'" src="https://image.flaticon.com/icons/svg/163/163801.svg" alt="" class="image-round">
    <img *ngIf="utente.sesso=='femmina'" src="https://image.flaticon.com/icons/svg/163/163809.svg" alt="" class="image-round border-white">

    <div class="ion-text-center">
      <h4 class="text-white">Ciao {{utente.nome}} {{utente.cognome}} </h4>
    </div>
    <div class="ion-text-center">
        <ion-badge color='primary' *ngIf="utente.stato==false">
          <ion-icon color="danger" name="radio-button-on"></ion-icon>
                   Utente In pre-assunzione
      </ion-badge>
      <ion-badge color='primary' *ngIf="utente.stato==true">
        <ion-icon color='success' name="checkmark-circle"></ion-icon>
      Utente Assunto
    </ion-badge>
    </div>

  </div>

  <h3 color='primary'>Ecco gli annunci recenti</h3>
  <ion-list>
  <ion-item *ngFor="let item of announces | async"  (click)="showAnnounce(item.titolo, item.descrizione)">
    <ion-icon slot="start" color="success" name="send"></ion-icon>
    <ion-label>{{item.titolo}} </ion-label>
  </ion-item>
  </ion-list>

  <h3 color='primary'>Collegamenti Interni </h3>
  <ion-list>
  <ion-item color="danger" *ngIf="utente.stato==false">
      Non è possibile visualizzare i collegamenti alle funzionalità di onBoard poiché sei ancora in una fase di pre-assunzione :(
  </ion-item>
  <ion-list align-items-center *ngIf="utente.stato==true">
  <ion-button (click)="showAnnounce('Collegamento1','Questa è una demo! I collegamenti non sono ancora disponibili :)')">Collegamento1</ion-button>
  <ion-button (click)="showAnnounce('Convenzioni Aziendali','Questa è una demo! I collegamenti non sono ancora disponibili :)')">Convenzioni Aziendali</ion-button>
  <ion-button color='success' (click)="showAnnounce('Social','Questa è una demo! I collegamenti non sono ancora disponibili :)')">Accedi a Social</ion-button>
  <ion-button (click)="showAnnounce('News','Questa è una demo! I collegamenti non sono ancora disponibili :)')">onBoard News</ion-button>
  <ion-button (click)="showAnnounce('Guida Utilizzo Moduli HR','Questa è una demo! I collegamenti non sono ancora disponibili :)')">Guida Utilizzo Moduli HR</ion-button>
  <ion-button (click)="showAnnounce('Accesso a Link','Questa è una demo! I collegamenti non sono ancora disponibili :)')">Accesso a link</ion-button>
  <ion-button (click)="showAnnounce('Portale Video','Questa è una demo! I collegamenti non sono ancora disponibili :)')">Portale Video</ion-button>
  <ion-button color="medium" (click)="openSettings()">Impostazioni onBoard</ion-button>

</ion-list>

<ion-list align-items-center *ngIf="utente.stato==false">
  <ion-button color="medium" (click)="openSettings()">Impostazioni onBoard</ion-button>
</ion-list>
</ion-list>

</ion-content>