<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Notifiche
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

    <ion-list>
    <ion-item color="secondary" text-center *ngFor="let item of announces | async"  target="_blank" rel="noopener">
        <ion-icon slot="start" name="alert"></ion-icon>
        <ion-item-sliding >
          <ion-label>
          <h2>{{item.titolo}}</h2>
          <p>{{item.descrizione}}</p>
        </ion-label>
        <ion-note slot="end">
        </ion-note>
      </ion-item-sliding>
      </ion-item>
    </ion-list>
    <ion-button (click)="single_notification()">
      Single Notification
    </ion-button>
    
    <ion-button (click)="multi_notification()">
      Multi Notifcations
    </ion-button>
    
    <ion-button (click)="delayed_notification()">
      Delayed Notification
    </ion-button>
  </ion-content>
  
    
    
