@import url(../theme.scss);
p,
ion-label,
ion-item,
ion-icon,
button {
  color: var(--darkToLight) !important;
}

.my-custom-menu {
    --width: 310px;
  }

  #notification-button {            
    position: relative;
    width: 42px;
    top:1px;
    right: 1px;
    overflow: visible!important;
}

#notifications-badge {
    background-color: red;
    position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 100%;
}