<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Eventi e Colloqui
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        onBoard-Eventi 
      </ion-card-title>
      <p>
        Cliccando sull'evento si aprirà il tuo gestore di mappe che ti guiderà verso sede dell'incontro.
      </p>
    <ion-item *ngFor="let item of items | async">
      <ion-icon slot="start" name='navigate' item-start style="color: #55acee"></ion-icon>
      <ion-label (click)="goTo(item.indirizzo)">
        <h2>Incontro il: </h2>
        <h3>{{item.data}} alle {{item.ora}}</h3>
        <p>presso {{item.indirizzo}}</p>
        <p slot="end"><ion-badge slot="end">Naviga Verso</ion-badge></p>
      </ion-label>
    </ion-item>
  </ion-card-content>
  </ion-card>



  </ion-content>
    
