<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        onBoard Dashboard
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="assets/insella.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Ciao {{utente.nome}}</ion-card-subtitle>
      <ion-card-title *ngIf="utente.sesso=='maschio'">Bentornato onBoard</ion-card-title>
      <ion-card-title *ngIf="utente.sesso=='femmina'">Bentornata onBoard</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p></p>
      <ion-label>
        <ion-badge *ngIf="utente.stato==false"><ion-icon name="radio-button-on" color="danger"></ion-icon>Utente in pre assunzione</ion-badge>
        <ion-badge *ngIf="utente.stato==true"><ion-icon name="radio-button-on" color="success"></ion-icon>Utente Assunto</ion-badge>
        
      </ion-label>
    </ion-card-content>
  </ion-card>
  

    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Risorse</ion-label>
      </ion-list-header>
          <ion-item (click)="openTab2()">
              <ion-icon slot="start" color="medium" name="map"></ion-icon>
              <ion-label>Eventi</ion-label>
            </ion-item>
            <ion-item (click)="openTab3()">
                <ion-icon slot="start" color="medium" name="document"></ion-icon>
                <ion-label>Documenti</ion-label>
              </ion-item>
            <ion-item (click)="openTab4()">
                <ion-icon slot="start" color="medium" name="notifications-outline"></ion-icon>
                <ion-label>Notifiche</ion-label>
            </ion-item>
            <ion-item (click)="openTab5()">
                <ion-icon slot="start" color="medium" name="contact"></ion-icon>
                <ion-label>Area Assunto</ion-label>
              </ion-item>
            <ion-item (click)="openSettings()">
                <ion-icon slot="start" color="medium" name="settings"></ion-icon>
                <ion-label>Impostazioni</ion-label>
            </ion-item>
            <ion-item (click)="openSuggestion()">
                <ion-icon slot="start" color="medium" name="chatbubbles"></ion-icon>
                <ion-label>Suggerimenti</ion-label>
            </ion-item>
        <ion-item (click)="openGuide()">
          <ion-icon slot="start" color="medium" name="help"></ion-icon>
          <ion-label>Guida</ion-label>
          
        </ion-item>
            <ion-item></ion-item>
            
            <ion-list-header>
              <ion-label>Annuci dal Backooffice</ion-label>
            </ion-list-header>
    <ion-item *ngFor="let item of announces | async"  (click)="showAnnounce(item.titolo, item.descrizione)">
      <ion-icon slot="start" color="success" name="send"></ion-icon>
      <ion-label>{{item.titolo}} </ion-label>
    </ion-item>
      </ion-list>
      <ion-footer>
        <ion-button expand="full" color="danger" (click)="logout()">
          Logout
        </ion-button>
      </ion-footer>
</ion-content>


