<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        InSella Dashboard
      </ion-title>
      <ion-icon slot="end" name="notifications"></ion-icon>
      <ion-buttons slot="end">
          <ion-button></ion-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="https://i.ibb.co/kDBmkwq/Logo-hype2.png" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Your Registered EmailID : {{userEmail}}</ion-card-subtitle>
        <ion-card-title>Bentornato InSella</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Questa è una demo dell'applicazione InSella!</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Risorse</ion-label>
      </ion-list-header>
          <ion-item (click)="openTab2()">
              <ion-icon slot="start" color="medium" name="map"></ion-icon>
              <ion-label>Mappa</ion-label>
            </ion-item>
            <ion-item href="">
                <ion-icon slot="start" (click)="openTab2()" color="medium" name="document"></ion-icon>
                <ion-label>Documenti</ion-label>
              </ion-item>
            <ion-item href="">
                <ion-icon slot="start" color="medium" name="notifications-outline"></ion-icon>
                <ion-label>Notifiche</ion-label>
            </ion-item>
            <ion-item href="">
                <ion-icon slot="start" color="medium" name="contact"></ion-icon>
                <ion-label>Area Assunto</ion-label>
              </ion-item>
            <ion-item href="">
                <ion-icon slot="start" color="medium" name="settings"></ion-icon>
                <ion-label>Impostazioni</ion-label>
            </ion-item>
            <ion-item href="">
                <ion-icon slot="start" color="medium" name="settings"></ion-icon>
                <ion-label>Contatta il Responsabile</ion-label>
            </ion-item>
    </ion-list>
    
  <ion-footer (click)="logout()">
    <ion-toolbar color="secondary">
      <ion-title>Log out</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
