<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Impostazioni
    </ion-title>
    <ion-icon slot="end" name="notifications"></ion-icon>
    <ion-buttons slot="end">
        <ion-button></ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list no-border>
    <ion-item (click)="notActive('Guida')">
      <ion-icon name='help-circle' slot="start"></ion-icon>
      Guida e feedback
      <ion-text slot="end">
      </ion-text>
    </ion-item>

    <ion-list-header>
      Generali
    </ion-list-header>

    <ion-item (click)="notActive('Impostazione Notifica')">
      <ion-icon name='notifications' color='primary' slot="start"></ion-icon>
      Notifiche
      <ion-text slot="end">
      </ion-text>
    </ion-item>

    <ion-item (click)="notActive('Impostazione Upload')">
      <ion-icon name='cloud-upload' color='primary' slot="start"></ion-icon>
      Upload 
      <ion-text slot="end">
        Rete Cellulare & Wifi
      </ion-text>
    </ion-item>

    <ion-item  (click)="notActive('Impostazione Download')">
      <ion-icon name='cloud-download' color='primary' slot="start"></ion-icon>
      Download 
      <ion-text slot="end">
        Rete Cellulare & Wifi
      </ion-text>
    </ion-item>


    <ion-list-header >
      Aspetto
    </ion-list-header >

    <ion-item>
      <ion-icon name='contrast' slot="start"></ion-icon>
        Tema Chiaro/Scuro
      <ion-toggle color="primary" (click)="ThemeSwitcher()" slot="end"></ion-toggle>
    </ion-item>

    <ion-list-header>
      Account
    </ion-list-header>

    <ion-item (click)="logout()">
      <ion-icon name='exit' color='danger' slot="start"></ion-icon>
      Logout
      <ion-text slot="end">
      </ion-text>
    </ion-item>

    <ion-item (click)="notActive('Modifica Profilo')">
      <ion-icon name='contact' color='primary' slot="start"></ion-icon>
      Modifica Profilo
      <ion-text slot="end">
      </ion-text>
    </ion-item>

</ion-list>
</ion-content>
