<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Impostazioni
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list no-border>
    <ion-item (click)="openGuide()">
      <ion-icon name='help-circle' slot="start"></ion-icon>
      Guida e feedback
      <ion-text slot="end">
      </ion-text>
    </ion-item>

    <ion-list-header>
      Generali
    </ion-list-header>

    <ion-item (click)="notActive('Impostazione Notifica')">
      <ion-icon name='notifications' color='primary' slot="start"></ion-icon>
      Notifiche
      <ion-text slot="end">
      </ion-text>
    </ion-item>

    <ion-list-header >
      Aspetto
    </ion-list-header >

    <ion-item>
      <ion-icon name='contrast' slot="start"></ion-icon>
        Tema Chiaro/Scuro
      <ion-toggle color="primary" (click)="ThemeSwitcher()" slot="end"></ion-toggle>
    </ion-item>

    <ion-list-header>
      Account
    </ion-list-header>

    <ion-item (click)="openRecord()">
      <ion-icon name='list' color='warring' slot="start"></ion-icon>
      Registro delle Attività
      <ion-text slot="end">
      </ion-text>
    </ion-item>

    <ion-item (click)="logout()">
      <ion-icon name='exit' color='danger' slot="start"></ion-icon>
      Logout
      <ion-text slot="end">
      </ion-text>
    </ion-item>

</ion-list>
</ion-content>
